 <p id="alert-r"><small><%= devise_error_messages! %></small></p>

<div class="container" id="panel2">
<h2 class="form-signin-heading">Realizar Novo Cadastro</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="md-form">    
  <%= f.label :usuario,:for=>"inputMDEx" %>
  <%= f.text_field :usuario,:id=>"inputMDEx" ,:class =>"form-control"%>
  </div>

  <div class="md-form">    
    <%= f.label :email,:for=>"inputMDEx1" %>
    <%= f.email_field :email,:id=>"inputMDEx1" ,:class =>"form-control"%>
  </div>

  <div class="md-form">
    <% if @minimum_password_length %>
    <p id="pass">(<%= @minimum_password_length %> caracteres no mínimo)</p>
    <% end %><br/>
    <%= f.label :password,:for=>"inputMDEx2" %>
    <%= f.password_field :password,:id=>"inputMDEx2" ,:class =>"form-control"%>
  </div>

  <div class="md-form">
    <%= f.label :password_confirmation,:for=>"inputMDEx3" %>
    <%= f.password_field :password_confirmation, :id=>"inputMDEx3" ,:class =>"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Cadastrar", class:"btn btn-md btn-deep-purple" %><%= render "devise/shared/links" %>
  </div>
<% end %>



</div> <!-- /container -->
