<%= form_for @paciente do |f| %>
  <div class="formp">
  <div id="floatl">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" id="sample3"   <%= f.text_field :nome %> 
  <label class="mdl-textfield__label" for="sample3">  <%= f.label :nome %></label>
  </div><br><br><br>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" id="sample3"   <%= f.text_field :email %> 
  <label class="mdl-textfield__label" for="sample3">  <%= f.label :email %></label>
  </div><br><br><br>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" id="sample3"   <%= f.text_field :telefone %> 
  <label class="mdl-textfield__label" for="sample3">  <%= f.label :telefone %></label>
  </div><br><br><br>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" id="sample3"   <%= f.text_field :sexo %> 
  <label class="mdl-textfield__label" for="sample3">  <%= f.label :sexo %></label>
  </div><br><br><br><br><br>
  <div>

  <div id="floatr">
  <%= f.label :nascimento %>
  <%= f.date_field :nascimento %><br><br><br><br>

  <%= f.label :paciente_desde %>
  <%= f.date_field :paciente_desde %><br><br><br><br>


  <%= f.label :status %>
  <%= f.select(:status, [['Ativo', true], ['Inativo', false]],{}, { :class => 'custom-select my-1 mr-sm-2' })%><br>
  <br><br><br><br>

  <%= f.label :observacao %>
  <%= f.text_area :observacao %><br><br><br><br><br>
  </div>
  </div>
  <div class="buttoms">
  <%= f.submit 'Gravar', :class => 'btn btn-primary'%>   <%= link_to 'Voltar', pacientes_path, :class => 'btn btn-danger' %>
  </div>
<% end %>



