<% if @paciente.errors.any? %>
  <% @paciente.errors.full_messages.each do |msg| %>
    <li class="fa fa-warning alert-e  animated bounceInUp"><%=  msg %></li>
  <% end %>
<% end %>

<br>

<%= form_for @paciente do |f| %>

  <div class="md-form">
      <%= f.text_field :nome,:id=>"inputMDEx1" ,:class =>"form-control"%>
      <%= f.label :nome,:for=>"inputMDEx1" %>
  </div>

  <div class="md-form">
    <%= f.email_field :email,:id=>"inputMDEx2" ,:class =>"form-control"%>
    <%= f.label :email,:for=>"inputMDEx2" %>
  </div><br>

  <div class="md-form">
    <%= f.text_field :telefone,:id=>"inputMDEx3" ,:class =>"form-control"%>
    <%= f.label :telefone,:for=>"inputMDEx3" %>
  </div>

  <%= f.label :sexo %>
  <%= f.select(:sexo, ['Masculino', 'Feminino'],{}, { :class => 'custom-select my-1 mr-sm-2' })%><br><br>
  

  <%= f.label :nascimento,:for=>"date-picker-example" %>
  <%= f.date_field :nascimento,:id=>"date-picker-example"%><br><br>



  <%= f.label :paciente_desde,:for=>"date-picker-example1" %>
  <%= f.date_field :paciente_desde,:id=>"date-picker-example1" %><br><br>


  <%= f.label :status %>
  <%= f.select(:status, [['Ativo', true], ['Inativo', false]],{}, { :class => 'custom-select my-1 mr-sm-2' })%><br><br>

  <%= f.label :dia_vencimento %>
  <%= f.select(:dia_vencimento, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,
    17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],{}, { :class => 'custom-select my-1 mr-sm-2' })%><br><br>

  <i class="fa fa-pencil prefix"></i>
  <%= f.label :observacao,:for=>"textareaPrefix" %>
   <%= f.text_area :observacao,:id=>"textareaPrefix" ,:class=>"form-control md-textarea",:rows=>"3"%>

  <%= f.submit 'Gravar', :class => 'btn btn-primary btn-md'%>   <%= link_to 'Voltar', pacientes_path, :class => 'btn btn-danger btn-md' %>

<% end %>
