<ul class="list-group">
  <li class="list-group-item active waves-light"><h4><%= @paciente.nome %></h4></li>
  <li class="list-group-item">Telefone: <%= @paciente.telefone %></li>
  <li class="list-group-item">Data de nacimento: <%= I18n.localize @paciente.nascimento %></li>
  <li class="list-group-item">Email: <%= @paciente.email %> </li>
  <li class="list-group-item">Sexo: <%= @paciente.sexo %></li>
  <li class="list-group-item">Paciente desde:<%= I18n.localize @paciente.paciente_desde %></li>
  <li class="list-group-item">Status: <%= @paciente.status_paciente %></li>
  <li class="list-group-item">Dia de vencimento: <%= @paciente.dia_vencimento %></li>
  <li class="list-group-item">Observação: <%= @paciente.observacao %></li>
</ul>


<!-- Button trigger modal -->
<button type="button" class="btn btn-info animated fadeInLeft" data-toggle="modal" data-target="#exampleModal">
    Exibir Preços
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="false" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Historico Preços</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <% unless @paciente.preco_vigente.blank? %>
            <h4>Preço Vigente</h4>
            <%= number_to_currency @paciente.preco_vigente.valor %>
            <br>

            <h4>Histórico de preço</h4>
            <table>
              <tr>
                  <th>Data de Reajuste</th>
                  <th>Valor</th>
              </tr>
            <% @paciente.preco.order(reajuste: :desc).each do |preco| %>
              <p>
                  <tr>
                      <td><%= I18n.localize preco.reajuste %></td>
                      <td><%= number_to_currency preco.valor %></td>
                  </tr>
              </p>
            <% end %>
          </table>
          <% else %>
            <p>Nenhum preço cadastrado</p>
          <%end%>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <abbr>
        <button type="button" class="btn btn-primary animated fadeInUp" data-toggle="modal" data-target="#exampleModal2">
            Cadastrar Preços
        </button>
    <%= link_to 'Editar', edit_paciente_path,:class => "btn btn-default animated fadeInRight" %>
    </div>
</abbr>

<%= render 'precos/form_modal' %>
