<%= form_for @preco, url: form_url do |f| %>
  <div class="cash">


  <div class="md-form">
  <%= f.text_field :valor,:id=>"inputMDEx" ,:class =>"form-control"%>
    <%= f.label :valor,:for=>"inputMDEx" %>
  </div>

  <%= f.label :reajuste %>
  <%= f.date_field :reajuste %><br>

  <%= f.submit 'Gravar',:class => 'btn btn-primary' %>  <%= link_to 'Voltar', pacientes_path,:class => 'btn btn-danger'  %>
<% end %>

</div>
