<section id="home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div id="calendar-home" class="shadow-lg p-3 mb-5 bg-white rounded"></div>
      </div>

      <div class="col-md-6">
        <h2 id="header">
          <strong>Relatório</strong>
          <small class="text-muted">Jan 2018 - Dez 2018</small>
        </h2>

        <div class="card shadow ">
          <h4 class="card-header">Relatórios</h4>
          <div class="card-block">
            <div id="orders-spline-chart"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="padding: 5vh">
      <div class="col-md-6">
        <div class="card shadow ">
          <i class="icon mdi mdi-chevron-right"></i>
          <h4 class="card-header" style="cursor: pointer" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Pacientes
            <i class="fa fa-chevron-down"></i>
          </span>
        </h4>

        <div class="card-body">
          <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <ul class="list-group list-group-flush">
                <table class="table table-hover " style="max-height:10px">
                  <% @pacientes.each do |paciente| %>
                    <tr>
                      <td>
                        <h5><%= paciente.nome%></h5>
                      </td>
                      <td>
                        <h6><%= paciente.status_paciente%></h6>
                      </td>
                    </tr>
                  <% end %>

                </table>
                <%= will_paginate @pacientes, previous_label:"&#8592; Anterior", next_label:"Proximo &#8594;"%>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</section>

<section id="home-mobile" class="">
<h1>Bem vindo a Secretária Virtual</h1>
  <div class="row">
    <a href="/pacientes"><div class="card shadow ">
      <div class="card-body icon">
        <i class="fa fa-users"></i>
        <p class="label">Pacientes</p>
      </div>
    </a>
    </div>

    <a href="/consultas"><div class="card shadow ">
      <div class="card-body icon">
        <i class="fa fa-calendar"></i>
        <p class="label">Consulta</p>
      </div>
    </a>
    </div>
  </div>
  <div class="row">
    <a href="/pagamentos"><div class="card shadow ">
      <div class="card-body icon">
        <i class="fa fa-dollar"></i>
        <p class="label">Pagamentos</p>
      </div>
    </a>
    </div>

    <a href="/faturas"><div class="card shadow ">
      <div class="card-body icon">
        <i class="fa fa-money"></i>
        <p class="label">Faturas</p>
      </div>
    </a>
    </div>
  </div>
</section>

<%= javascript_include_tag "full_calendar.js"%>
<%= javascript_include_tag "home.js"%>
