<h3>Pagamentos</h3>
<div class="busca">
<div class="md-form form-lg">
    <input type="text" id="inputLGEx" class="form-control form-control-lg">
    <label class="fa fa-search" for="inputLGEx">  Busca</label><br>
</div>
<table class="table table-hover table-striped">
    <!--Table head-->
<thead id="thead" class="indigo darken-3">
        <tr>
          <th><i class="fa fa-address-card-o" aria-hidden="true"></i>  Paciente</th>
          <th><i class="fa fa-book" aria-hidden="true"></i>  Competência</th>
          <th><i class="fa fa-address-book-o" aria-hidden="true"></i>  N° de Consultas</th>
          <th><i class="fa fa-dollar" aria-hidden="true"></i>  Valor</th>
          <th><i class="fa fa-exclamation-circle" aria-hidden="true"></i>  Status</th>
          <th><i class="fa fa-gear" aria-hidden="true"></i>  Ação</th>
        </tr>
    </thead>
    <tbody>
      <% @pacientes.each do |paciente| %>
        <% @competencias = paciente.competencias %>
        <% @competencias.each do |competencia| %>
        <tr>
          <% query_fatura = Fatura.where(consulta_id: Consulta.where(paciente_id: paciente), competencia: competencia.competencia) %>
          <td class="buscar"><%= paciente.nome %></td>
          <td><%= competencia.competencia %></td>
          <td><%= query_fatura.count %></td>
          <td><%= number_to_currency valor = query_fatura.sum(:valor) %></td>
          <% if Pagamento.where(paciente_id: paciente, competencia: competencia.competencia).any? %>
            <td>Pago</td>
            <td><%= link_to 'Estornar pagamento', pagamento_path(Pagamento.where(paciente_id: paciente.id, competencia: competencia.competencia).first), method: :delete, :class => 'btn btn-outline-primary waves-effect' %></td>
          <% else Pagamento.where(paciente_id: paciente, competencia: competencia).any? %>
            <td>Em aberto</td>
            <td>
              <%= form_tag(pagamentos_path, method: :post) do %>
                <%= hidden_field_tag(:paciente_id, paciente.id) %>
                <%= hidden_field_tag(:competencia, competencia.competencia) %>
                <%= hidden_field_tag(:valor, valor) %>
                <%= submit_tag('Quitar',class:'btn btn-md btn-default') %>
              <% end %>
            </td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
    </tbody>
</table>
<%#= will_paginate @pacientes, previous_label:"&#8592; Anterior", next_label:"Proximo &#8594;"%>
</div>


</div>
</div>


</div>
<%= javascript_include_tag "busca.js"%>
