<h3>Consultas</h3>
<div class="busca">
<div class="md-form form-lg">
    <input type="text" id="inputLGEx" class="form-control form-control-lg">
    <label for="inputLGEx">Busca</label>
</div>
<table class="table table-hover">

    <!--Table head-->
    <thead>
        <tr>
            <th>Dia</th>
            <th>Hora</th>
            <th>Paciente</th>
            <th>Status</th>
            <th>Atender</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
<% @consultas.each do |consulta| %>
  <tr>
    <td><%= link_to I18n.localize(consulta.data), consulta_path(consulta), class: "consulta" %></td>
    <td><%= consulta.hora.strftime('%R') %></td>
    <td><%= link_to consulta.paciente.nome, paciente_path(consulta.paciente), class: "consulta" %></td>
    <td><%= consulta.status_consulta %></td>
    <td>
      <% if consulta.status == false %>
        <%= form_tag(faturas_path, method: :post) do %>
          <%= hidden_field_tag(:consulta_id, consulta.id) %>
          <%= hidden_field_tag(:competencia, consulta.data) %>
          <%= submit_tag('Atender',class:'btn btn-outline-default waves-effect') %>
        <% end %>
      <% end %>
      <% if consulta.status == true %>
        <%= form_tag(fatura_path(Fatura.find_by(consulta_id: consulta.id)), method: :delete) do %>
          <%= hidden_field_tag(:consulta_id, consulta.id) %>
          <%= submit_tag('Cancelar Fatura',class:'btn btn-md btn-outline-danger waves-effect') %>
        <% end %>
      <% end %>
    </td>
    <!-- <td><%#= link_to 'Atender', model: consulta.gera_fatura, class: "consulta" %></td> -->
    <td><%= link_to '', consulta_path(consulta), method: :delete, class: "fa fa-times-circle consulta" %></td>
  </tr>
<% end %>

</div>
</tbody>
</table>

<%= link_to 'Cadastrar', new_consulta_path,:class=>''%>
<script>
const busca = document.querySelector("#busca");
busca.addEventListener('input', function () {
    const consultas = document.querySelectorAll(".consulta");
    for (let consulta of consultas) {
        var compara = consulta.textContent.substr(0, busca.value.length);
        if (busca.value.length !== 0) {
            if (busca.value.toUpperCase() != compara.toUpperCase()) {
                consulta.parentNode.classList.add('some');
            } else {
                consulta.parentNode.classList.remove('some');
            }
        } else {
            consulta.parentNode.classList.remove('some');
        }
    }

})
$('#input_starttime').pickatime({});
</script>
