<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SecretariaVirtual</title>

    <%= csrf_meta_tags %>
    <!-- Js e Css Principal-->
    <%=javascript_include_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'%>
    <!-- Js do Date e Time picker-->
    <%= javascript_include_tag "bootstrap-material-datetimepicker.js"%>
    <%= javascript_include_tag "jquery-clockpicker.min.js"%>
    <%= javascript_include_tag "clockpicker.js"%>
    <!-- Css Framework e Picker-->
    <%= stylesheet_link_tag 'mdb'%>
    <%= stylesheet_link_tag "jquery-clockpicker.min"%>
    <%= stylesheet_link_tag "clockpicker"%>
    <%= stylesheet_link_tag "bootstrap-material-datetimepicker"%>
    <!-- CDN-->
    <!--<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400' rel='stylesheet' type='text/css'>-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <% if current_user %>
      <!-- Sidemenu mobile -->
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <!-- Links -->
        <hr class="sidehr">
          <!-- Dropdown Fatura -->
            <a class="downcolf fa fa-money" onclick="openColf()"> Pagamento <i class="fa animated flipInX fa-sort-down"></i></a>
            <a class="upcolf fa fa-money" onclick="closeColf()"> Pagamento <i class="fa animated flipInX fa-sort-up"></i></a>
              <div class="colls-f">
              <p class="smallnav"><%= link_to 'Pagamentos', pagamentos_path%>
              </div>
              <hr class="sidehr">

            <a class="downcol fa fa-credit-card" onclick="openCol()"> Fatura <i class="fa animated flipInX fa-sort-down"></i></a>
            <a class="upcol fa fa-credit-card" onclick="closeCol()"> Fatura <i class="fa animated flipInX fa-sort-up"></i></a>
              <div class="colls">
              <p class="smallnav"><%= link_to 'Faturas', faturas_path%>
              </div>
              <hr class="sidehr">


            <a class="downcolc fa fa-calendar-check-o" onclick="openColc()"> Consulta <i class="fa animated flipInX fa-sort-down"></i></a>
            <a class="upcolc fa fa-calendar-check-o" onclick="closeColc()"> Consulta  <i class="fa animated flipInX  fa-sort-up"></i></a>
              <div class="colls-c">
              <%= link_to 'Calendário', consultas_path,class:'smallnav'%>
              <%= link_to 'Exibir Consultas', consultas_agenda_path, method: :get ,class:'smallnav'%>
              <%= link_to 'Cadastrar Consulta', new_consulta_path,class:'smallnav'%>
            </div>
            <hr class="sidehr">

          <!-- Dropdown Paciente -->
          <a class="downcolp fa fa-address-book-o" onclick="openColp()"> Paciente <i class="fa animated flipInX fa-sort-down"></i></a>
          <a class="upcolp fa fa-address-book-o" onclick="closeColp()"> Paciente  <i class="fa animated flipInX fa-sort-up"></i></a>
            <div class="colls-p">
              <%= link_to 'Consultar Paciente',pacientes_path,class:'smallnav'%>
              <%= link_to 'Cadastrar Paciente', new_paciente_path,class:'smallnav'%>
            </div>
          <hr class="sidehr">

          <!-- Dropdown Relatórios Finaceiros -->
          <a class="downcolr fa fa-bar-chart" onclick="openColr()"> Relatórios <i class="fa animated flipInX fa-sort-down"></i></a>
          <a class="upcolr fa fa-bar-chart" onclick="closeColr()"> Relatórios  <i class="fa animated flipInX fa-sort-up"></i></a>
            <div class="colls-r">
              <%= link_to 'Financeiro Competência', relatorios_path,class:'smallnav'%>
            </div>
          <hr class="sidehr">

        <%= link_to 'Sair', destroy_user_session_path, method: :delete, :class=>"btn btn-outline-white btn-sm" %>
    </div>

    <!--Navbar-->


    <nav class="navbar navbar-expand-lg navbar-light ">
      <%= link_to 'Secretaria Virtual',root_path,:class=>"navbar-brand btn btn-outline-primary waves-effect",id:"main-title"%>
      <button class="navbar-toggler" onclick="openNav()" type="button"  aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to 'Secretaria Virtual',root_path,:class=>"navbar-toggler navbar-brand btn btn-outline-primary waves-effect",id:"main-title"%>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <button  class="btn btn-md btn-deep-purple">
          <span data-toggle="tooltip" data-placement="top" title="Pagamento!" class="btn-group point fa fa-money">
            <abbr id="ndis">_</abbr> <%= link_to 'Pagamentos', pagamentos_path,class:'alink active' %>
            </span>
          </button>
          </li>
          <li class="nav-item">
            <button  class="btn btn-md btn-deep-purple">
          <span data-toggle="tooltip" data-placement="top" title="Fatura!" class="btn-group point fa fa-credit-card">
            <span id="ndis">_</span>  <%= link_to 'Faturas', faturas_path,class:'alink' %>
            </span>
            </button>
          </li>

          <li class="nav-item dropdown">
            <button class=" dropdown-toggle btn btn-md btn-deep-purple" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-book" aria-hidden="true"></i>  Consulta  </button>

            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to 'Calendário', consultas_path,class:"dropdown-item" %>
              <%= link_to 'Exibir Consultas', consultas_agenda_path, method: :get, class:"dropdown-item" %>
              <%= link_to 'Cadastrar Consulta', new_consulta_path,class:"dropdown-item"%>

            </div>
          </li>
          <li class="nav-item dropdown">
            <button  class="dropdown-toggle btn btn-md btn-deep-purple" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-address-book-o" aria-hidden="true"></i>  Paciente  </button>

            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to 'Consultar Paciente',pacientes_path,class:"dropdown-item" %>
              <%= link_to 'Cadastrar Paciente', new_paciente_path,class:"dropdown-item" %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <button  class="dropdown-toggle btn btn-md btn-deep-purple" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bar-chart" aria-hidden="true"></i>  Relatórios  </button>

            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to 'Financeiro Competência',relatorios_path,class:"dropdown-item" %>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
  <%= link_to 'Sair', destroy_user_session_path, method: :delete, id:"exit" ,:class=>"btn btn-outline-white btn-md" %>
    </form>
      </div>
    </nav>

    

<br>
  <main class="animated fadeInDown">
  <div id="main">
    <% if notice %>
      <p class="notice alert-s animated bounceInUp"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-e animated bounceInUp"><%= alert %></p>
    <% end %>
      <%= yield %>
  </div>

    <!--Big blue-->
    <div class="loader"></div>
  </main>


    <div id="footer"></div>
    <br>
    <br>
    <footer>
      <a href="#">
        <i data-toggle="tooltip" data-placement="top" title="Facebook!" class="fa fa-facebook-official" aria-hidden="true"></i>
      </a>
      <a href="#">
        <i data-toggle="tooltip" data-placement="top" title="Github!" class="fa fa-github" aria-hidden="true"></i>
      </a>
    </footer>
  <% end %>
  </body>
  <%= javascript_include_tag "mdb.min.js"%>
  <%= javascript_include_tag "main.js"%>
</html>
